$white: #fff;
$accent: #ff4757;
$text--color: #bdbfc6;
$text-p--color: #464f67;
$icon--color: #6e7993;
$icon-lighten--color: lighten($icon--color, 10%);
$backgroud--color: #20283e;
$backgroud-light--color: lighten(#20283e, 3%);
$shadow: 0 4px 10px rgba(0, 0, 0, 0.041), 0px 4px 3px rgba(0, 0, 0, 0.05);
